*{
    padding: 0;
    margin: 0;
}
body,
html{
    font-size: 30px;
    color: white;
}
.gridContainer{
    display: grid;
    grid-template-columns: 45% 45%;
    grid-column-gap: 50px;
    grid-row-gap: 32px;
    justify-content: center;

}
#firstH{
    margin-top: 34px;
    margin-bottom: 53px;
    margin-left: 110px;
    font-size: 48px;
}
.elementContainer{
    height: 100px;
    border: 3px solid #FF855D;
    border-radius: 30px;
}
.allElements p{
    font-size: 26px;
    color: #ADADAD;
}
.mainMat{
    font-size: 32px;
}
.allElements ul li{
    font-size: 30px;
}
.gridZag{
    text-align: center;
    font-size: 40px;
}
.majorType{
    margin-top: 12px;
    font-size: 18px;
    color: #7E7E7E;
    margin-left: 26px;
}
.priceNBtn{
    border-bottom: 3px solid #FF855D;
    width: 100%;
    padding-bottom: 29px;
    border-radius: 30px;
}
.priceNBtn .opener{
    float: right;
    margin-right: 20px;
    margin-left: 20px;
}
.priceNBtn .majorPrice{
    float: right;
}

.minorType{
    margin-left: 26px;
}
.opener{
    color: #FF855D;
    background-color: rgba(0,0,0,0);
    border-color: rgba(0,0,0,0);
    cursor: pointer;
    width: 30px;
    height: 30px;
}
.opener svg{
    width: 100%;
    height: 100%;
}

.minorMaterials{
    margin-left: 29px;
    margin-top: 23px;
    font-size: 24px;
    visibility: hidden;
}
.minorMatPrice{
    float: right;
    margin-right: 40px;
}
.activeContainer{
    height: 300px;
}
.activeText{
    visibility: visible;
}
/*.line{*/
/*    width: 3px;*/
/*    height: 74%;*/
/*    position: absolute;*/
/*    top: 210px;*/
/*    left: 50%;*/
/*}*/

#itogPrice {
    outline: none;
    border: none;
    font-size: 24px;
}

.itogPrice {
    text-align: center;
}

.modalAutorize {
    display: none;
}

.page-wrapper {
    width: 100%;
    height: 100%;
    background-size: cover;
}
a.btn {
    width: 200px;
    padding: 18px 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    font-family: 'Montserrat', Arial, Helvetica, sans-serif;
    font-weight: 700;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    color: #fff;
    border-radius: 0;
    background: #e2525c;
}
.modal-wrapper {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    visibility: hidden;
    opacity: 0;
    -webkit-transition: all 0.25s ease-in-out;
    transition: all 0.25s ease-in-out;
    background: rgba(0, 0, 0, 0.5);
}
.modal-wrapper.open {
    opacity: 1;
    visibility: visible;
}
.modal {
    width: 500px;
    display: block;
    margin: 30% 0 0 -250px;
    position: relative;
    top: 50%;
    left: 50%;
    opacity: 0;
    -webkit-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
    background: #fafafa;
}
.modal-wrapper.open .modal {
    margin-top: -200px;
    opacity: 1;
}
.head{
    width: 100%;
    height: 100%;
    margin: 0 0 14px;
    padding: 5px 30px;
    overflow: hidden;
    position: absolute;
}
.btn-close {
    font-size: 28px;
    display: block;
    float: right;
    color: #fff;
}
.modal .content {
    padding: 0 0 20px 0;
}
.good-job {
    text-align: center;
    font-family: 'Montserrat', Arial,       Helvetica, sans-serif;
    color: #e2525c;
}
.good-job .fa-thumbs-o-up {
    font-size: 60px;
}
.good-job h1 {
    font-size: 45px;
}
.form_modal_window{
    max-width: 70%;
    display: flex;
    flex-direction: column;
    margin: auto;
}
.modal .content .text{
    background: url("../Bright-Purple-Wallpaper-59-images.jpg");
    color: #fff;
    padding: 10px;
    margin: 20px 0;
}
.modal .content .text h2{
    margin:0;
    font-size: 35px;
}
.modal .content .text p{
    margin:0;
    font-size: 14px;
}
.modal-wrapper{
    margin: 0 0 20px 0;
}
.modal .content form input {
    color: #000;
    padding: 15px;
    border: none;
    margin-bottom: 15px;
    box-shadow: 0px 1px 3px 1px #e9e9e9;
    font-size: 15px;
}
.modal .content form input[type=submit]{
    padding: 10px 40px;
    max-width: 200px;
    margin: auto;
    border-radius: 54px;
    color: #fff;
    background: #f7b231;
    background: -moz-linear-gradient(top, #ffc281 0%, #ff8c97 100%);
    background: -webkit-linear-gradient(top, #ffc281 0%, #ff8c97 100%);
    background: linear-gradient(to bottom, #ffc281 0%, #ff8c97 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='$color-yellow', endColorstr='$color-pink', GradientType=0);
    font-size: 15px;
    text-shadow: 0px 0px 6px #e54242;
    display: inline-block;
    border: none;
    outline: none;
}

#itogPrice {
    background: none;
}

.modalBtn{
  padding: 10px 20px;
  font-size: 17px;
  border-radius: 8px;
  background-color: #363637;
  color: #fff;
  border: 3px solid #FF855D;
}
#flex_Finalbtn{
    margin-top: 2%;
    margin-bottom: 5%;
    display: flex;
    justify-content: center;
}