body,
html {
  padding: 0;
  margin: 0;
  background-color: #36363E;
  font-family: 'Montserrat', sans-serif;
}

#CloseModal{
  display: none;
}
.matherials_table{
  color: white;
}
.container_home .list .item{
  margin-top: 50%;
  width: 100%;
  border: 3px solid #FF855D;
}
#Finalsmeta{
    display: flex;
    justify-content: center; 
}
#Finalsmeta .item{
    width: 35%;
    border: 4px solid #FF855D;
}
.container_home {
  display: flex;
  justify-content: space-around;
  height: 80%;
}

#media-helper{
    display:none;
}

.home {
  position: static;
  height: 80%;
}

.roof {
  position: absolute;
  z-index: 5;
}

#img_roof_ready {
  display: none;
}

.floor1 {
  position: absolute;
  z-index: 3;
}

#img_floor1_ready {
  display: none;
}

.floor {
  position: absolute;
  z-index: 2;
}

.foundation {
  position: absolute;
}

.foundation img {
  display: none;
}

.circle {
  width: 25px;
  height: 25px;
  font-size: 27px;
  font-weight: 900;
  color: white;
  border-radius: 50%;
  background-color: #FF855D;
  z-index: 10;
  cursor: pointer;
}

.line {
  height: 2px;
  background-color: #FF855D;
  z-index: 10;
}

.Empty {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background-color: #36363E;
  border: 2px solid #FF855D;
  overflow: hidden;
}



#wall {
  display: flex;
  align-items: center;
  margin-top: -25%;
  margin-left: 2%;
}


#support {
  display: flex;
  align-items: center;
  margin-top: 18%;
  margin-left: 74%;
}

#support .line {
  width: 220px;

}

#foundation {
  display: flex;
  align-items: center;
  margin-top: 15%;
  margin-left: -3%;
}

#foundation .line {
  width: 220px;

}


#support .circle {
  background-color: #36363E;
  border: 2px solid #FF855D;
  overflow: hidden;
  z-index: 10;
}

#support .Empty {
  background-color: #FF855D;
  z-index: 10;
}



#foundation .circle {
  background-color: #36363E;
  border: 2px solid #FF855D;
  overflow: hidden;
  z-index: 10;
}

#foundation .Empty {
  background-color: #FF855D;
  z-index: 10;
}

#wall .line {
  width: 320px;
}

#wall .circle {
  background-color: #36363E;
  border: 2px solid #FF855D;
  overflow: hidden;
  z-index: 10;
}

#wall .Empty {
  background-color: #FF855D;
  z-index: 10;
}




#floor {
  display: flex;
  align-items: center;
  margin-top: -37%;
  margin-left: 80%;
}

#floor .line {
  width: 170px;

}

#floor .circle {

  background-color: #36363E;
  border: 2px solid #FF855D;
  overflow: hidden;
  z-index: 10;
}

#floor .Empty {

  background-color: #FF855D;
  z-index: 10;
}


.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  border: 2px solid #FF855D;
  border-radius: 8px;
  margin-top: 35%;
}

.totalPrice {
  font-size: 35px;
  color: #fff;
  margin-top: 0;
}

.total-price {
  font-size: 40px;
  color: #fff;
  margin-top: -25px;

}

#totalNumber {
  color: #FF855D;
}

.button {
  padding: 10px 20px;
  font-size: 17px;
  border: 2px solid #FF855D;
  border-radius: 8px;
  background-color: #36363E;
  color: #fff;
  margin-top: -3%;
  cursor: pointer;
}

.button:hover {
  background-color: #fd7e54;
}




button .Empty {

  cursor: pointer;

}

.home img {
  width: 1000px;
}

/* modalka */


.clock_text {
  color: rgb(153, 153, 153);
}

.modal_main h1 {
  font-size: 36px;
}

.modalFloor,
.modalFoundation,
.modalWall,
.modalStraping {
  position: fixed;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.5);
  cursor: pointer;
  z-index: 11;
  display: flex;
  opacity: 1;
  transition: opacity 300ms ease-in-out;
  visibility: auto;
  display: none;
}

.modalFloor.active,
.modalFoundation.active,
.modalWall.active,
.modalStraping.active {
  display: flex;
}

.modal_main {
  position: absolute;
  width: 380px;
  margin-top: 2%;
  background-color: #39363E;
  height: 100%;
  cursor: default;
  z-index: 11;
}

.modal_btn:first-child {
  margin-top: 53px;
}

.modal_btn {
  background-color: rgba(0, 0, 0, 0);
  color: white;
  width: 333px;
  border-radius: 16px;
  padding: 10px;
  border: 3px solid #FF855D;
  height: 53px;
  margin-top: 25px;
  margin-left: 20px;
  font-size: 22px;
  cursor: pointer;
}

.active {
  border-color: #53C541;
}

.modal_main:last-child {
  /* right: 0; */
  left: auto;

  /* width: 500px; */

  color: white;

}

.modal_main:last-child h1 {
  margin-top: 80px;
  text-align: center;
}

.modal_main:last-child p {
  font-size: 22px;
  margin-left: 22px;
}



.price {
  border: 3px solid #FF855D;
  border-radius: 20px;
  width: 400px;
  margin-left: 42px;
  text-align: center;
  height: 180px;
}

.price h3 {
  font-size: 36px;
  margin-top: 20px;
}

.price button {
  margin: 0;
}
.prices {
  border: 3px solid #FF855D;
  border-radius: 20px;
  width: 400px;
  margin-left: 42px;
  text-align: center;
  height: 180px;
  margin-top: 5%;
}

.prices h3 {
  font-size: 36px;
  margin-top: 20px;
}

.prices button {
  margin: 0;
}

/* Вторая модалка */
.flor,
.penopolist,
.mineral,
.bigWall,
.smallWall,
.frstObv,
.scndObv {
  position: fixed;
  display: none;
  top: 0;
  right: 0;
  width: 500px;
  background-color: #39363E;
  height: 100%;
  cursor: default;
  z-index: 10;
  overflow-y: auto;
}

.itog-flex {
  display: flex;
  justify-content: center;
  margin-top: 3.5%;
}

.modalZag {
  padding-top: 30px;
}




.material {
  display: flex;
  justify-content: space-around;
}

.material h2 {
  font-size: 28px;
  margin-left: 20px;
}

.matherialsWall {
  margin-top: 21%;
  list-style-type: none;
  font-size: 22px;
  text-align: right;
  color: #53C541;
}

.material ul li {
  font-size: 22px;
}

.contConsts {
  margin-top: 16%;
  list-style-type: none;
  font-size: 22px;
  text-align: right;
  color: #53C541;
}

.contConst {
  padding-top: 16%;
  list-style-type: none;
  font-size: 22px;
  text-align: right;
  color: #53C541;
}

.material_ul {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.smeta {
  position: absolute;
  margin-left: 75%;
  margin-top: -42%;
  color: white;
  font-size: 24px;
  background-color: #39363E;
  border: 2px solid #FF855D;
  padding: 10px;
}

.heightWall,
.stappingHouse,
.roofKrovlya {
  font-size: 22px;
}

.small_Wall,
.big_Wall,
.gorizStapping,
.vertStapping,
.jelezoBeton,
.vintovayaSvai,
.undefined {
  font-size: 25px;
  color: rgb(155, 250, 14);
  padding-bottom: 10px;
}

.matherials_table h4 {
  margin-top: 1%;
}
.pr{
  color: white;
  text-align: center;
}

.houseprice {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.houseprice span {
  margin-left: 45%;
}

.matherialsPrice {
  margin-top: -5%;
}




@media (max-width:1300px) {
  #CloseModal{
    top: 90%;
    left: 93%;
    display: block;
    position: fixed;
    z-index: 20;
  }
  #CloseModal img{
    width: 160%;
    border: 5px solid #FF855D;
    border-radius: 25%;
  }
  #smeta{
    margin-top: 5%;
  }
  .header__inner img{
    display: none;
  }
  #media-helper{
    display:block;
  }
  .header__text{
      margin-left:12%;
      margin-top:1%;
     
  }
  .totalPrice{
      text-align:center;
  }
  .header__text a{
      font-size:27px;
  }
  .home {
    position: static;
    display: flex;
    justify-content: center;
    height: 80%;
  }

  .home img {
    max-width: 90%;
  }

  .home div {
    display: flex;
    justify-content: center;
  }
  .list{
    display: flex;
    justify-content: center;
  }
  .item{
    margin-top: 5% !important;
    width: 61% !important;
  }
  .matherials_table{
    text-align: center;
  }
  .container_home {
    display: block;
    justify-content: center;
    margin-left: 0;
    height: 80%;
  }

  .line {
    display: none !important;
  }

  .Empty {
    display: none !important;
  }

  #wall {
    display: flex;
    align-items: center;
    margin-top: 11%;
    margin-left: 112%;
  }

  #foundation {
    display: flex;
    align-items: center;
    margin-top: 46%;
    margin-left: 15%;
  }

  #floor {
    display: flex;
    align-items: center;
    margin-top: -22%;
    margin-left: 32%;
  }

  #support {
    display: flex;
    align-items: center;
    margin-top: 4%;
    margin-left: 5%;
    margin-right: 103%;
  }

  .itog-flex {
    margin-top: -28px;
  }

  .smeta {
    margin-left: 29%;;
    position: block;
    margin-top: -51%;
  }
  .container{
    margin-top: 60px;
  }
  .circle{
    width: 50px;
    height: 50px;
    border: 5px solid #FF855D !important;
  }
}
@media (max-width:800px){
  .header__inner img{
    display: none;
  }
  .modal_main:last-child h1 {
    margin-top: 80px;
    margin-left: 91px;
    font-size: 29px;
  }
  .modal_main:last-child p {
    font-size: 22px;
    margin-left: 116px;
}
.price{
  margin-left: 87px;
}
.material h2 {
  font-size: 27px;
  margin-left: 76px;
  text-align: center;
}
.material ul li {
  font-size: 20px;
  margin-left: 74px;
}
.prices{
  margin-left: 90px;
}
.modalWall h2{
margin-left: 212px;
}
.modalWall li {
  margin-left: 93px;
  font-size: 18px;
}

  .header__text a{
    text-align: center;
    margin-right: 26px;
    margin-top: 29px;
    font-size: 19px;
  }
  #media-helper{
    display:block;
}
  .container{
    margin-top: 30%;
    width: 328px;
  }
  .smeta {
    display: none;
  }
  .circle{
    width: 35px;
    height: 35px;
    border: 3px solid #FF855D !important;
  }
  .totalPrice{
    text-align: center;
  }
}

.activeBtn{
  box-shadow: 0 0 0 0 rgba(100, 52, 36, 1);
  transform: scale(1);
  animation: pulse 2s infinite;
}

@keyframes pulse {
  0% {
    transform: scale(0.95);
    box-shadow: 0 0 0 0 rgba(100, 52, 36, 1);
  }

	70% {
    transform: scale(1.1);
    box-shadow: 0 0 0 10px rgba(100, 52, 36, 0);
  }

	100% {
    transform: scale(0.95);
    box-shadow: 0 0 0 0 rgba(100, 52, 36, 0);
  }
}
