search{
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 10px;
    margin-bottom: 30px;
}
input#search{
    width: 615px;
    height: 39px;
    border-radius: 41px;
    border: 2px solid #FF855D;
}
item{
    margin-bottom:5px ;
    margin-top:10px;
    color: white;
    background-color: #FF855D;
    height:70px;
    width: 100%;
    display: flex;
}

item .img{
    width:10%
}
item .name{
    padding-top: 15px;
    width: 80%;
    font-size: 20px;
}
item .price{
    padding-top: 15px;
    width: 10%;
    color: rgb(91, 241, 91);
    font-weight: 900;
}

.price input{
    width: 40%;
}
input#price{
    background-color: #39363E;
    color: white;
    border: 2px solid rgb(91, 241, 91) ;
}